* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#closest {
    grid-column: 2 / 3;
    text-align: center;
}

td, th {
    background-color:white;
    border: 1px solid black;
    width: 40vw;
    height: 10vh;
    font-size: 22px;
}
td#filler{
    background-color:#EED210;
    border: none;
}

#final {
    background-color:white;
    font-size: 34px;

}

#guess {
    grid-column: 2 / 3;
    margin: 5px;
}
#guess img{
    border: 1px solid black;
    width: 30vw;
    height: 30vh;
}