#closest { 
    grid-column: 2 / 3;
    text-align: center;
}

td, th {
    border: 1px solid black;
    width: 200px;
    height: 80px;
    font-size: 22px;
}
td#filler{
    border: none;
}

#final {
    font-size: 34px;
}