* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#closest { 
    grid-column: 2 / 3;
    text-align: center;
}

td, th {
    border: 1px solid black;
    width: 200px;
    height: 80px;
    font-size: 22px;
}
td#filler{
    border: none;
}

#final {
    font-size: 34px;

}

#guess {
    grid-column: 2 / 3;
    margin: 5px;
}
#guess img{
    border: 1px solid black;
    width: 30vw;
    height: 30vh;
}