* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    user-select: none;
}
.title{
    font-size: 34px;
    grid-column: 2 / 3;
    user-select: text;
}
#game{
    grid-column: 2 / 3;
    
}
#canvas {
    border: 2px solid black;
    width: 900px;
    height: 600px;
}

#tools {
    border: 2px solid black;
    border-top: 0px solid white;
    padding: 8px 0px 8px 0px;
    width: 900px;
}

#tools button {
    height: 27px;
}

#tools * {
    border: 1px solid black;
    border-radius: 2px;
}

#submit2 { 
    margin-top: 1%;
    grid-column: 2 / 3;
}
.submit {
    width: 200px;
    height: 40px;
    font-size: 18px;
}

#desc {
    grid-column: 2 / 3;
}

.names {
    font-size: 28px;
    grid-column: 2 / 3;
    user-select: text;
}