* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color:#FFD139;
}
.selected {
    background-color: gray;
}
.container{
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    user-select: none;
}
.title{
    font-size: 34px;
    grid-column: 2 / 3;
    user-select: text;
}

#game{
    grid-column: 2 / 3;
    
}
#canvas {
    margin-top: 2px;
    background-color:white;
    border: 2px solid black;

}

#tools {
    background-color:lightgray;
    border: 2px solid black;
    border-top: 0px solid white;
    padding: 8px 0px 8px 0px;

}
#note {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
#tools button, input{
    background-color:lightgray;
    border: 2px solid black;
    border-radius: 2px;
    padding: 3px 3px 3px 3px;
    height: 56px;
    width: 56px;
    vertical-align: middle;
}
.submit:hover{
    background-color:darkgray;
}

#tools button:hover{
    background-color:darkgray;
}
#tools input:hover{
    background-color:darkgray;
}

#tools * img:hover{
    background-color:darkgray;
}

.submit:active{
    background-color:dimgrey;
}

#tools button:active{
    background-color:dimgrey;
}

#tools input:active{
    background-color:dimgrey;
}

#tools * img:active{
    background-color:dimgrey;
}

#tools * img {
    background-color: inherit;
    height: 48px;
    width: 48px;
    border: none;
}

#submit2 {
    margin-top: 1%;
    grid-column: 2 / 3;
}
.submit {
    background-color:lightgray;
    border: 2px solid black;
    width: 200px;
    height: 40px;
    font-size: 18px;
}

#desc {
    grid-column: 2 / 3;
}

.names {

    font-size: 28px;
    grid-column: 2 / 3;
    user-select: text;
}

#mainMenu{
    margin-top: 20%;
}

#slider{
    margin-bottom: 10px;
}
#slider input {
    width: 60%;
    background-color: black;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    background-color: #FFD139;
    margin: 15% auto;
    padding: 2%;
    border: 2px solid black;
    width: 60%;
}

#warning {
    visibility: hidden;
}

#accuracyDisplay {
    display: inline;
    width: 48px;
}

#drawPrompt {
    margin: 8px 0px 8px 0px;
}